html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

#root {
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #5aadbb;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: #1f1f1f;
  height: 60px;
}
.header-title {
  font-size: 3.5rem;
  margin: auto;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #cf4646;
  color: white;
}
.title-h1 {
  font-weight: 300;
  font-size: 4rem;
  margin: 1rem;
}
.title-logo {
  height: 12rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}
.title-h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: .5rem;
}

.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}

.content {
  display: flex;
  height: calc(100% - 88px);
  min-width: 550px;
}

.pizza-orderer, .ms-signin {
  margin: auto;
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
  min-width: 582px;
  width: 582px;
}

.order-confirm {
  text-align: center;
}

.items-table {
  border-collapse: collapse;
}

.items-table tbody {
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  max-height: 500px;
}

.items-table tr {
    background-color: #fff;
}

.item-list {
  min-height: 192px;
}

#pizza button, #base button {
  width: 236px;
}

.date-warning {
  color: crimson;
  font-weight: bold;
}

.signin-button button {
  margin: auto;
  display: block;
  width: 290px;
}

.user-bar {
  margin: 7px;
  position: absolute;
  right: 10px;
}

.user-bar button {
  background-color: transparent;
}

.error-message {
  color: red;
  font-weight: bold;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #555;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -110%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.bug-reporter {
  margin: 16px;
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.bug-reporter i {
  font-size: 30px;
}

.bug-reporter span {
  font-size: 20px;
}

.bug-reporter .tooltiptext {
  font-size: 12px;
}

.pizza-description {
  font-size: 12px;
}
